body, html {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.red-header {
    background-image:
    url('../images/Pizza-decor.png'),
    url('../images/Header-pizza.png'),
    url('../images/Header-right.png'),
    url('../images/Header-left.png');
    
    background-repeat: no-repeat;
    background-position: center bottom 3rem, center bottom, right top, left bottom;
    background-size: auto, auto, 27%, 27%;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CE2829;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding-top: 1rem;
    color: white
}


.logo {
    font-family: 'Londrina Solid', sans-serif;
    font-weight: 400;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: #FFF;
}

.head-text {
    color: #FDC913;
    text-align: center;
    font-family: Satisfy;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

h1 {
    color: #FFF;
    font-family: 'Roboto Condensed';
    font-size: 6rem;
    font-weight: 300;
    line-height: 6rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 0;
}

.btn {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    width: 12rem;
    height: 4rem;
    background: #FDC913;
    border-radius: 50px;
    border: 0;
}

main {
    background-color: #FAF7F2;
}

.menu-bar {
    max-width: 1920 px;
    background: #FFF;
    height: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: center;
    align-content: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}


.food-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.25rem;
    align-items: center;
    margin:0;
    list-style-type: none;
}

.food-item .row-button {
    display: flex;
    align-items: center;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 50px;
    gap: 0.75rem;
    font-family: 'Barlow';
    font-weight: 500;
    font-style: Medium;
    font-size: 1.1rem;
    line-height: 2rem;
    text-decoration: none;
    color: black;
}

.order-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    margin: 0 15%;
    padding-bottom: 3rem;
}

.red-items {
    flex: 1 1 520px;
    max-width: 520px;
    width: 100%;
    aspect-ratio: 520 / 450;
    background-color: #CE2829;
    border-radius: 0.75rem;
    position: relative;
}


.img-layer {
    background-image: url('../images/Adv-pizza.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: #CE2829;
}


.black-items {
    width: 520px;
    height: 450px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.best-menu {
    text-align: center;
}
 
.red-text {
    padding-left: 2.5rem;
    color: #FFF;
    margin: 0;
}

h2 {
    font-family: 'Quattrocento';
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 0;
}

.order-btn {
    display: flex;
    width: 150px;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    color: #CE2829;
    font-family: 'Barlow';
    font-size: 1rem;
    font-weight: 600;
    line-height: 3.5rem;
    text-decoration: none;
    justify-content: center;
}

#ozel-text {
    font-family: Barlow;
    font-size: 1.2rem;
    font-weight: 600;
}

.double-menu {
    background-color: #292929;
    height: 260px;
    border-radius: 0.75rem;
}

.item2 {
    position: relative;
}

.item2 img {
    position: absolute;
    left: 10px;
    bottom: 0;
    width: 100%;
}

.top-text {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
} 

h3 {
    color: #FFF;
    font-family: Barlow;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.belove {
    background-image: url('../images/Adv-sehir.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
    background-color: #FFEECC;
}

#dark {
    color:#292929;
}

#span-text {
    color: #CE2829;
}

#hackathlon {
    width: 75%;
    left: 100px;
}

#speedy {
    bottom: -20px;
}

#lezzetler {
    color: #292929;
    font-family: Barlow;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top:0.5rem;
    margin-bottom: 0.35rem;
}

.food-list .black-item {
    background-color: #292929;
    color: #FFF;
}

.red-version {
    color: #CE2829;
}

.price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.pizza-container  {
    background-color: #FFF; 
    display: flex;
    flex-direction: column;
    padding: 1.75rem;
    border-radius: 0.75rem;
    max-width: 273px;
    flex: 1 1 250px;
}

.pizza-container img {
    max-width: 100%;
    height: auto;
}

.terminal {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h4 {
    color: #292929;
    font-family: Barlow;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

.details {
    display: flex;
    gap: 5rem;
    width: 100%;
    color: #292929BF;
    font-family: Barlow;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
}

.grup {
    margin-left: auto;
}

.price {
    color: #292929;
    font-family: 'Barlow';
    font-size: 1.25rem;
    font-weight: 700;
}

footer {
    background-color: #1A1A1A;
    color: #FFF;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    gap: 0.5rem;
}

.footer-contact, .footer-menu, .footer-instagram {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1 1 220px;
}

.instagram-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-instagram .instagram-list li {
    width: 30%;
}

.foot-logo {
    color: #FFF;
    font-family: "Londrina Solid";
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: -2.7rem;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list li {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    line-height: 2;
    margin-bottom: 0.75rem;
    color: #FFF;
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
}

.footer-menu .headline {
    color: #FFF;
    font-family: 'Barlow';
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-menu .contact-list li {
    margin-bottom: 0.5rem;
}

.footer-instagram {
    margin-bottom: 2rem;
}

.footer-instagram .headline {
    color: #FFF;
    font-family: 'Barlow', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}

.instagram-list li img {
    width: auto;
    height: auto;
    aspect-ratio: 105 / 95;
    object-fit: cover;
    border-radius: 5px;
}

.copyright-container {
    width: 100%;
    border-top: 1px solid rgba(255,255,255,0.15);
    background-color: #1A1A1A;
    color: #FFF;
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    padding: 1rem 15%;
    box-sizing: border-box;
}

.copy-container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.copy-container li {
    list-style-type: none;
}


@media (max-width: 900px) {

    body {
        min-width: 540px;
    }
    .red-header .head-text {
        display: none;
    }

    .logo {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .red-header {
        background-image: url('../images/Header-pizza.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size:200%;
    }

    .button-items .food-list {
        display: flex;
        justify-content: space-between;
    }   

    .button-items .food-item {
        flex: 0 0 auto;
        flex-grow: 0 !important;
    }

    .button-items .row-button {
        width: auto;
        white-space: nowrap;
    }

    #lezzetler {
        padding: 1rem 2.5rem;
        margin-bottom: 1rem;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-contact, .footer-menu, .footer-instagram {
        align-items: flex-start;
        text-align: left;
        width: 100%;
        max-width: 400px;
    }

    .footer-instagram .instagram-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
        list-style: none;
    }

    .footer-instagram .instagram-list li {
        flex: 1 1 30%;
        max-width: 30%;
    }

    .footer-instagram .instagram-list li img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
    }


    .copyright-container {
        padding: 1rem 15%;
    }

    .copy-container {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
    }
}

@media (max-width: 600px) {

    .food-list {
        max-width: 420px;
        margin: 0 auto;
        gap: 1rem;
    }

    .food-item {
        flex: 1 1 45%;
    }

    .best-menu {
        text-align: center;
    }
}