body {
  width: 1920px;
  margin:auto;
  padding: 0;
}

.red-header {
  background-image:
  url('../images/Pizza-decor.png'),
  url('../images/Header-pizza.png'),
  url('../images/Header-right.png'),
  url('../images/Header-left.png');
  
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: center bottom 3rem, center bottom, right top, left bottom;
  background-size: 100%, 70%, 27%, 27%;


  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #CE2829;
  text-align: center;
  height: 1080px;
  margin: 0;
  padding-top: 1rem;
  color: white
}


.logo {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

.head-text {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.btn {
  font-family: Barlow;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 1.1rem;
  text-align: center;
  vertical-align: middle;
  width: 12rem;
  height: 4rem;
  background: #FDC913;
  border-radius: 50px;
  border: 0;
}

.food-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.5rem;
  align-items: center;
  max-width: 1920 px;
  background: #FFFFaa;
  height: 94px;
  margin:0;
  list-style-type: none;
}

.food-item a {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-family: Barlow;
  font-weight: 500;
  font-style: Medium;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0%;
  text-decoration: none;
  color: black;
}