body {
  width: 1920px;
  margin:auto;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #CE2829;
  text-align: center;
  height: 1080px;
  margin: 0;
  padding-top: 1rem;
}
.logo {
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: white;
}

.head-text {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

.btn {
    font-family: Barlow;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 1.1rem;
    text-align: center;
    vertical-align: middle;
    width: 12rem;
  height: 4rem;
    background: #FDC913;
    border-radius: 50px;
  border: 0;
}


.food-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  max-width: 1920 px;
  background: #FFFFaa;
  height: 94px;
  margin:0;
  list-style-type: none;
}

.food-menu {
  font-family: Barlow;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  line-height: 32.4px;
  letter-spacing: 0%;
  vertical-align: middle;
  
}

.food-list a {
  text-decoration: none;
  color: black;
}